*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    border: none;

}

body{
    border: 2px soli;
    height: 100svh;
    width: 100svw;
    background: url(my-images/pexels-technobulka-3014826.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#filter{
    border: 2px soli;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(30, 32, 4, 0.623);
    
}

#filter>h4{
    position: absolute;
    top: 0;
    left: 15%;
   /*  font-size: 5vw; */
    font-size: 3.1em;
    font-family: "Comforter", cursive;
    
    font-style: normal;
    z-index: 1;
     color: rgba(255, 255, 255, 0);
     -webkit-text-stroke: 1px rgb(255, 255, 255);

    text-wrap: nowrap;
    width: 50%;
    overflow: hidden;
    border-right:0px solid rgb(255, 255, 255);
    animation: type2 1s forwards;
}


@keyframes type2 {
    0%{
        border-right:0px solid rgb(255, 255, 255);
        width: 0%;
        opacity: 0;
    }

    30%{
        border-right:3px solid rgb(255, 255, 255);
        width: 0%;
        opacity: 1;
    }

    90%{
        border-right:3px solid rgb(255, 255, 255);
        width: 30%;
        opacity: 1;
    }

    100%{
        border-right:0px solid rgb(255, 255, 255);
        width: 30%;
    }
}




#image{
    position: relative;
    z-index: 1;
    height: 90%;
    width: 30%;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.411);
    overflow: hidden;
    background: rgba(34, 33, 24, 0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 2px 2px 40px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: move-in 1s ease-out;
}

@keyframes move-in {
    0%{
        transform: translateX(-290%);
    }

    100%{
        transform: translateX(0%);
    }
}

#image:after{
    content: "";
    display: block;
    height: 20vw;
    width: 20vw;
    border-radius: 100%;
    border: 2px soli;
    position: absolute;
    top: 10%;
    z-index: -2;
    background: conic-gradient( var(--color)50%,rgb(255, 255, 255) 80%);
    display: none;
    transform: rotate(180deg);
   
}

#image::before{
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: linear-gradient(80deg,rgba(65, 2, 2, 0),rgba(255, 255, 255, 0.288));
    z-index: -1000;
}

:root{
    --color:rgba(255, 239, 146, 0);
    --text:rgba(255, 255, 255, 0.669);
}




#image #layer{
    border: 2px soli;
    z-index: 10;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(37, 37, 37, 0.253);
    background-size: cover;
    backdrop-filter: brightness(0.9);
    -webkit-backdrop-filter: brightness(0.9);
    
}

#image #layer::after{
    content: "";
    z-index: 10;
    position: absolute;
    bottom: -100%;
    left: -50%;
    width: 10%;
    height: 190%;
    background: rgb(255, 255, 255);
    filter: blur(60px);
    transform: rotate(-45deg);
    animation: sun 2s infinite;
}

@keyframes sun {
    0%{
       left: -50%;
       bottom: -100%; 
    }

    100%{
       left: 500%;
       bottom: 100%; 
    }
}


#image img{
    width: 130%;
    transform: rotatey(180deg) scale(1.4) translatex(5.5%) translatey(15%);
    object-fit: cover;
    object-position: center;
    position: absolute;
    bottom: -20%; 
    z-index: -2;
    opacity: 1;
    filter: contrast(0.7) grayscale(1) brightness(2) hue-rotate(0deg) blur(70px) ;
    
}


#image img:last-child{
    filter: blur(0px) contrast(1) grayscale(0.6) brightness(1.1) hue-rotate(-20deg);
    width: 120%;
    transform: rotatey(180deg) scale(1.4) translatex(5%) translatey(12%);    
    object-fit: cover;
    object-position: center;
    position: absolute;
    bottom: -20%;
    z-index: -1;
    opacity: 1;
}



#about{
    height: 90%;
    width: 60%;
    border: 1px solid rgba(255, 255, 255, 0.418);
    border-radius: 30px;
    /* font-size: 1.5vw; */
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient( 45deg, rgba(0, 0, 41, 0.404),rgba(34, 2, 2, 0.473));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 2px 2px 40px 2px;
  font-family: "Gaegu", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
  scroll-behavior: smooth;
  scrollbar-gutter: stable both-edges;
  animation: appear 1s;
}

#about::-webkit-scrollbar{
    height: 10px;
    width: 5px;
}

#about::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.228);
}

#about #layer2{
    content: "";
    z-index: 10;
    position: absolute;
    bottom: -100%;
    left: -50%;
    width: 5%;
    height: 190%;
    background: rgb(255, 255, 255);
    filter: blur(60px);
    transform: rotate(-45deg);
    animation: sun 3s 3s  alternate-reverse infinite;
}
#about>div span{
    line-height: 10%;
}

#about>div{
    border: 2px soli;
    width: 90%;
    height: auto;
    color: rgba(255, 255, 255, 0.904);
}



#about h4{
    /* font-size: 4vw; */
    font-size: 3em;
    font-family: "Comforter", cursive;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0px 0px 10px rgba(255, 255, 148, 0.621);
}

#about a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.548);
    text-decoration: none;
    border: 2px soli;
    width: fit-content;
    margin-block: 1.5%;
    padding: 1% 0%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.233);
    opacity: 0;
    animation: appear 0.5s 0.5s forwards;
    transition: transform 0.1s ,box-shadow 0.5s 0.5s, color 0.3s 0.1s;
    box-shadow: 0px 0px 0px;
    position: relative;
    overflow: hidden;
    font-weight: bold;
    box-shadow: 0px 0px 0px white;

}

#about a::before{
    content: "";
    border: 2px soli;
    width: 20%;
    height: 100%;
    display: block;
    position: absolute;
    border-radius: 0px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    bottom: -100%;
    background-color: rgba(230, 230, 230, 0.829);
    z-index: -20;
    transition: bottom 0.5s ,border-radius 0.5s ,width 0.6s;
    
}

#about a:hover{
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px 1px white;
    
}

#about a::before{
    z-index: -1;
}

#about a::after{
    content: "";
}

#about a:nth-child(1):after{
    content: ": 0537533213";
}

#about a:nth-child(2)::after{
    content: ": Message me";
}

#about a:nth-child(3)::after{
    content: ": joelkyere784@gmail.com";
}

#about:has(a:nth-child(1):hover) a:nth-child(1)::before{
     bottom: 0%;
     border-radius: 0px;
     width: 100%;
}
#about:has(a:nth-child(2):hover) a:nth-child(2)::before{
     bottom: 0%;
     border-radius: 0px;
     width: 100%;
}
#about:has(a:nth-child(3):hover) a:nth-child(3)::before{
     bottom: 0%;
     border-radius: 0px;
     width: 100%;
}

#about img{
    width: 7%; 
    height: 7%; 
    margin-right: 4%;
    filter:grayscale(2);
    mix-blend-mode:color-burn;
}

#about span{
    background: linear-gradient(var(--text),var(--text));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    animation: type 1.5s  1s ease-out forwards ;
}
#about h4 span{
    animation: type 1s 1s ease-in-out forwards;
}
.emoji{
    display: inline;
    opacity: 0;
    animation: appear 0.2s 2s forwards;
}

@keyframes appear {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
    
}

@keyframes type {
    0%{
        background-size: 0% 100%;
    }

    100%{
        background-size: 100% 100%;
    }
    
}

@media only screen and (max-width:800px){
    #about{
    font-size: 2vw;


}
#about h4{
    font-size: 5vw;
}


#image img{
    width: 130%;
    transform: rotatey(180deg) scale(1.4) translatex(5.5%) translatey(15%);
    object-fit: cover;
    object-position: center;
    position: absolute;
    bottom: -20%; 
    z-index: -2;
    opacity: 1;
    filter: contrast(0.7) grayscale(1) brightness(2) hue-rotate(0deg) blur(70px) ;
    
}


#image img:last-child{
    filter: blur(0px) contrast(1) grayscale(0.6) brightness(1.1) hue-rotate(-20deg);
    width: 120%;
    height: 80%;
    transform: rotatey(180deg) scale(1.7) translatex(5%) translatey(-10%);    
    object-fit: cover;
    object-position: center;
    position: absolute;
    bottom: -20%;
    z-index: -1;
    opacity: 1;
}


@keyframes type2 {
    0%{
        border-right:0px solid rgb(255, 255, 255);
        width: 0%;
        opacity: 0;
    }

    30%{
        border-right:3px solid rgb(255, 255, 255);
        width: 0%;
        opacity: 1;
    }

    90%{
        border-right:3px solid rgb(255, 255, 255);
        width: 50%;
        opacity: 1;
    }

    100%{
        border-right:0px solid rgb(255, 255, 255);
        width: 50%;
    }
}
}


@media only screen and (max-width:600px){

        #about{
    font-size: 3vw;


}
#about h4{
    font-size: 7vw;
}
    #filter{
    border: 2px soli;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background: rgba(30, 32, 4, 0.623);
    
}

@keyframes type2 {
    0%{
        border-right:0px solid rgb(255, 255, 255);
        width: 0%;
        opacity: 0;
    }

    30%{
        border-right:3px solid rgb(255, 255, 255);
        width: 0%;
        opacity: 1;
        transform: rotate(0deg) translateY(0%) translatex(0%);
    }

    90%{
        border-right:3px solid rgb(255, 255, 255);
        width: 70%;
        opacity: 1;
        
    }

    100%{
        border-right:0px solid rgb(255, 255, 255);
        width: 70%;
        transform: rotate(-10deg) translateY(10%) translatex(-20%);
    }
}

#image{
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    border-radius: 0px;
    border: 1px solid rgba(255, 255, 255, 0.411);
    overflow: hidden;
    background: rgba(34, 33, 24, 0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 2px 2px 40px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: none;
}

#image img{
    width: 130%;
    transform: rotatey(180deg) scale(1.4) translatex(5.5%) translatey(15%);
    object-fit: cover;
    object-position: center;
    position: absolute;
    bottom: -20%; 
    z-index: -2;
    opacity: 1;
    filter: contrast(0.7) grayscale(1) brightness(2) hue-rotate(0deg) blur(70px) ;
    
}


#image img:last-child{
    filter: blur(0px) contrast(1) grayscale(0.6) brightness(1.1) hue-rotate(-20deg);
    width: 120%;
    height: 100%;
    transform: rotatey(180deg) scale(1.4) translatex(5%) translatey(-5%);    
    object-fit: cover;
    object-position: center;
    position: absolute;
    bottom: -20%;
    z-index: -1;
    opacity: 1;
}

#about{
    height: 100%;
    width: 100%;
    border: 0px solid rgba(255, 255, 255, 0.418);
    border-radius: 0px;
    /* font-size: 1.5vw; */
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: end;
    background:linear-gradient( 25deg, rgb(0, 0, 41),rgba(34, 2, 2, 0));
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    box-shadow: 0px 0px 0px 0px;
  font-family: "Gaegu", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
  scroll-behavior: smooth;
  scrollbar-gutter: stable both-edges;
  animation: appear 1s;
}

#about #layer2{
    content: "";
    z-index: 10;
    position: absolute;
    bottom: -100%;
    left: -50%;
    width: 5%;
    height: 190%;
    background: rgb(255, 255, 255);
    filter: blur(60px);
    transform: rotate(-45deg);
    animation: sun 3s 3s  alternate-reverse infinite;
    display: none;
}


#about>div{
    border: 2px soli;
    width: 90%;
    height: auto;
    color: rgba(255, 255, 255, 0.904);
    padding-bottom: 3%;
}

#contact{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about a{
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.548);
    text-decoration: none;
    border: 2px soli;
    margin-block: 1.5%;
    padding: 0% 0%;
    border-radius: 10px;
    background-color: rgba(247, 237, 164, 0.39);
    opacity: 0;
    animation: appear 0.5s 0.5s forwards;
    transition: transform 0.1s ,box-shadow 0.5s 0.5s, color 0.3s 0.1s;
    box-shadow: 0px 0px 0px;
    position: relative;
    overflow: hidden;
    font-weight: bold;
    font-size: 5vw;
    box-shadow: 0px 0px 0px white;
    width: 30%;
    height: 70%;

}

#about img{
    width: 10%; 
    height: 10%; 
    margin-right: 4%;
    filter:grayscale(2);
    mix-blend-mode:normal;
    display: none;
}

#about a::after{
    content: "";
    border: 2px soli;
    width: 20%;
    height: 100%;
    display: block;
    position: absolute;
    border-radius: 0px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    bottom: -100%;
    background-color: rgba(248, 246, 214, 0.514);
    z-index: -20;
    transition: bottom 0.5s ,border-radius 0.5s ,width 0.6s;
    
}



#about a:hover{
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px 1px white;
    
}


}
